<!DOCTYPE html>
<html>
<head>
    <title>Student Performance Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h2>Student Performance Predictor</h2>
    <p>Predict final score using study data</p>

    <form action="/predict" method="post">

        <div class="input-group">
    <input type="number" step="0.1" name="hours" value="{{ hours if hours else '' }}" required>
    <label>Hours Studied</label>
</div>

<div class="input-group">
    <input type="number" name="attendance" value="{{ attendance if attendance else '' }}" required>
    <label>Attendance (%)</label>
</div>

<div class="input-group">
    <input type="number" name="previous" value="{{ previous if previous else '' }}" required>
    <label>Previous Score</label>
</div>

        <!-- Buttons side by side -->
        <div style="display: flex; gap: 10px;">
    <button type="submit">Predict</button>
    <button type="button" onclick="window.location.href='/'">Clear</button>
</div>

    </form>

    {% if prediction %}
    <div class="result">
        Predicted Score: {{ prediction }}
    </div>
    {% endif %}

</div>

</body>
</html>